[submodule "SDL-mirror"]
	path = SDL-mirror
	url = https://github.com/spurious/SDL-mirror.git
[submodule "lua-uwp"]
	path = lua-uwp
	url = https://github.com/ahrnbom/lua-uwp.git
[submodule "physfs-uwp"]
	path = physfs-uwp
	url = https://github.com/ahrnbom/physfs-uwp.git
[submodule "openal-soft-winphone"]
	path = openal-soft-winphone
	url = https://github.com/kakashidinho/openal-soft-winphone.git
[submodule "libogg-uwp"]
	path = libogg-uwp
	url = https://github.com/ahrnbom/libogg-uwp.git
[submodule "libvorbis-uwp"]
	path = libvorbis-uwp
	url = https://github.com/ahrnbom/libvorbis-uwp.git
[submodule "libtheora-uwp"]
	path = libtheora-uwp
	url = https://github.com/ahrnbom/libtheora-uwp.git
